body {
  padding: 0;
  margin: 0;
}

.App {
  color: #fff;
  background-color: #000;
}

.TopBar {
  display: flex;
  justify-content: flex-end;  
}

.TopBarNav {
  padding: 8px 0 8px 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  margin: 9px 19px 1px 0;
  background:  rgb(17, 17, 17);
}

.TopBarNav li {
  display: inline;
  padding: 9px;
} 

.Header {
  background: rgb(41, 40, 40);
  padding: 19px;
}

.LogoSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PhotoArtLogo {
  font-size: xx-large;
}

.spanLogo {
  font-size: x-small;
}

.SearchContainer {
  position: relative;
}

.SearchInput {
  background: #333;
  border: 1px solid #454545;
}

.SearchIcon {
  position: absolute;
  top: 2px;
  right: 8px;
}

.Navigation {
  margin-top: 40px;
}

.Main {
  padding: 40px 19px;
}

.SplitLine {
  margin-top: 37px;
  height: 11px;
  width: 100%;
  background: #111;
}

.HeaderNav {
  cursor: pointer;
  display: flex;  
  list-style-type: none;
  padding-left: 0;
}

.HeaderNav :last-child {
  flex-grow: 2;
}

.ReadMore {
  text-align: right;
}
.ReadMore a {
  text-decoration: none;
  color: 
}
.HeaderNav li {
  text-transform: uppercase;
  margin-left: 1px;
  background: rgb(1c, 1c, 1c);
  padding: 10px;
}

.HeaderNav :hover {
  color: #fff;
  background: #000;
}

.Intro {
  display: flex;
}
.SlideText {
  background: #1a1514;
  padding: 25px;
  width: 300px;
}

.SlideImage img {
  width: 100%;
}